body, html
{
    background: black;
    color: rgb(165, 155, 155);
}

#purple
{
    background-color: purple;
    height: 15px;
    margin: 0px;
}

#mybitcoin
{
    display: flex;
}

h2
{
    font-weight: lighter;
}


#backgrounds
{
    width: 100%;
    height: 25vh;
    animation: animate 10s ease-in-out infinite;
    background-size: contain;
}

form{
    width: 350px;
    margin: auto;
    outline: none;
    margin-top: 10%;
    padding: 10px 5px;
    text-align: center;
}

input[type="text"], input[type="password"]
{
    background: none;
    color: orange;
    outline: none;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.295);
    border-radius: 3px;
   
}

#submit:hover
{
  background-color: orange;
  border:1px solid  transparent;
}

h4
{
    color: orange;
    font-weight: lighter;
}

h6
{
    font-weight: lighter;
}

#submit
{

  border:1px solid transparent;
}

@keyframes animate{
    0%, 100%{
        background-image: url(images/bitcoin.jpg);
        opacity: 70%;
    }
    20%{
        background-image: url(images/bitcoin2.jpg);
        opacity: 70%;
    }
    40%{
        background-image: url(images/bitcoin1.jpg);
    }
    50%{
        background-image: url(images/bitcoin3.jpg);
    }
}