.navi
{
    background-color: purple;
    height: 20px;
    margin-bottom: 0px;
    position: sticky;
    top: 0px;
}

h1
{
    margin: 0px;
}

.headsection
{
    display: inline-flex;
}

.headsection
{
    float: right;
    margin-right: 20px;
}

.bitco
{
    background-image: url(images/bitcoin.jpg);
    height: 300px;
    background-size:contain;
    background-position: right;
    margin-top: 48px;
    opacity: 90%;
    position: sticky;
    top: 17px;
}

#get
{
    background-color: rgb(43, 14, 90);
    border: 1px transparent solid;
    margin-top: 2%;
    margin-bottom: 2%;;
}

#get:hover
{
    background-color: orange;
    border: 1px solid transparent;
}

.get
{
    text-align: center;
    margin-bottom: 150px;
}

.foot
{
    
    display: flex;
    width: 90%;
    margin: auto;
    background-color: gray;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.net
{
    margin-bottom: 0px;
}

span
{
    color: rgb(212, 142, 11);
}

.donations
{
    margin-left: 50px;
}

.pay
{
    margin: 0px;
}

.support
{
    margin-left: 50px;
}

form
{
    float: right;
    margin-top: 10px;
    margin-right: 31px;
    margin-bottom: 15px;
}

::placeholder
{
    color: orange;
}

#butt:hover
{
    background-color: orange;
    border: 1px solid transparent;
}

@media screen and (max-width:700px)
{
    .foot{
        width: 100%;
        }   
}

@media screen and (max-width :598px)
{
    .foot{
        max-width: 400px;
    }
}